{% load static %}
<nav class="navbar navbar-dark font-weight-bold navbar-expand-md" aria-label="main" style="width:100%;">

    <a class="navbar-brand" href="/">
      <div class="media">
        <div class="media-body">
          <img class="logo-responsive" src="{% static 'images/alm_logo.jpg' %}"
               alt="ALM School">
        </div>
      </div>
    </a>

    <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#menu-content" aria-controls="menu-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" id="menu-content">
        <br>
        <ul class="navbar-nav">
            {% block navbar_left %}
            <!-- game views -->

            <li><a class="nav-link" style="border:1px solid white;border-radius:20pt;" href="{% url 'home' %}">Home</a></li>
            <li>
                <a class="nav-link" style="border:1px solid white;border-radius:20pt;" href="{% url 'coding' %}">Current Homework</a></li>


            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" style="border:1px solid white;border-radius:20pt;" data-toggle="dropdown" href="#" id="project1" aria-expanded="false">
                  Project #1
              </a>
              <div class="dropdown-menu" aria-labelledby="project1">
                  <div class="dropdown">
                  {% for student in students %}

                      <a class="dropdown-item" href="{% url 'project1' student %}">{{student|capfirst}}</a>

                      {% endfor %}
              </div>
              </div>
            </li>



            {% endblock %}
        </ul>
    </div>
</nav>
