
<html>

{% extends "base.html" %}
{% block content %}
<body>

<div class="front-page">
    <h1> Project: IMAGE GALLERY</h1>
    <hr role="presentation">
    <h2> CURRENT HOMEWORK: </h2>
    <p>
        We've looked at the <b><a href="https://jsfiddle.net/Lafve70u/">PARROT PICTURES</a></b> project on jsfiddle.net. Your goal is to:
        <ul>
    <li>
        Notice the layout, and realize that there are three languages that make up the webpage: HTML, CSS, and JavaScript
    </li>
    <ul>
    <li>
        The languages speak to the web application, communication an algorithm: in this case, the problem is that we want
        to display several large pictures. We want the user to be able to click on buttons to see the pictures, without
        changing the whole webpage.
    </li>
    <li>
        We use <b>HTML</b> to lay out <b>the basic elements of the page</b>. Example: putting a button on a webpage, and putting a picture on a webpage.
    </li>
        <li>
            We use <b>CSS</b> to <b>define the style of HTML elements</b>. Example: making all buttons green, and all pictures 500 pixels wide.
        </li>
        <li> We use <b>Javascript</b> to <b>add events to the webpage</b>. Example: changing the picture when someone clicks the button.
        </li>
        </ul>
    <li>
        Decide upon what you want your picture gallery to be about! Your chickadee sticker business? Cute kittens? Sloths? Minecraft characters?! YOU DECIDE!
    </li>
</ul>
    </p>

    <p>
        Next time: Make sure to bring your laptop as well as your excitement! We will be making your own customized photo galleries.
    </p>
</div>
</body>

{% endblock %}

</html>